baseUri: "http://0.0.0.0:8085/user-management/api/"
keycloakUrl: "http://radarbase-keycloak:8080/auth/"
clientId: "user-data-manager"
clientSecret:
realmName: "homeappstudy"
userDataExportPath: "/etc/data/"
exportIntervalInMin: 1440
jwtRSAPublicKeys:
  - |-
    -----BEGIN PUBLIC KEY-----
    ...
    -----END PUBLIC KEY-----