SERVER_NAME=localhost
SELF_SIGNED_CERT=yes
ENABLE_HTTPS=yes
MAINTAINER_EMAIL=me@example.com
RADAR_RAW_TOPIC_LIST=android_phone_usage_event_aggregated,android_phone_usage_event_output
RB_POSTGRES_DIR=/data/postgres
POSTGRES_USER=postgresdb-user
POSTGRES_PASSWORD=
HEALTHCHECK_SLACK_NOTIFY=no
HEALTHCHECK_SLACK_WEBHOOK_URL=
HEALTHCHECK_SLACK_CHANNEL=#radar-ops
HDFS_BASE_VERSION=3.0.3-alpine
HDFS_DATA_DIR_1=/data/hdfs-data-1
HDFS_DATA_DIR_2=/data/hdfs-data-2
HDFS_DATA_DIR_3=/data/hdfs-data-3
HDFS_NAME_DIR_1=/data/hdfs-name-1
HDFS_NAME_DIR_2=/data/hdfs-name-2
HDFS_JOURNAL_DIR_1=/data/hdfs-journal-1
HDFS_JOURNAL_DIR_2=/data/hdfs-journal-2
HDFS_JOURNAL_DIR_3=/data/hdfs-journal-3
POSTGRES_VERSION=10.6-alpine
KAFKA_MANAGER_USERNAME=kafkamanager-user
KAFKA_MANAGER_PASSWORD=
PORTAINER_PASSWORD_HASH=
RESTRUCTURE_OUTPUT_DIR=./output
NGINX_PROXIES=
RADAR_SCHEMAS_VERSION=0.5.7
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=
APP_ACCESS_LOGS_DIR=/data/nginx
